<div class="doc-str">
  <div style="position: absolute; top: 70px; left: 20px; cursor: pointer;" (click)="close()">
    <img src="assets/icon/serves/arrow-left.svg" alt="">
  </div>
  <h1 style="font-size: 42px; font-weight: 500;">Мой врач</h1>
  <div class="profile">
    <img src="assets/icon/serves/doc.svg" alt="" />
    <div class="lala">
      <p style="font-size: 28px;">Горелов Давид Романович</p>
      <p style="font-size: 20px;">Кардиолог</p>
    </div>
  </div>
  <div class="buttons">
    <button style="background-color: #8AC44B;" type="button">Записаться на прием</button>
    <button style="background-color: #00B4D8;" type="button">О враче</button>
    <button style="background-color: #0077B6;" type="button">Развернуть чат</button>
  </div>
</div>
