<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Главная </ion-title>
    <ion-button slot="end" color="warning" style="margin-right: 20px">
      <div>
        <img src="assets/icon/uvedi.svg" alt="" />
      </div>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="full-screen-block">
    <ion-toolbar>
      <ion-title color="dark">Общее состояние</ion-title>
      <ion-title class="lalaland">{{currentResult}}</ion-title>
    </ion-toolbar>

    <div class="inner-blocks">
      <div class="card" *ngFor="let item of [1,2,3,4]; let i = index">
        <!-- Здесь можно добавить контент для каждого блока -->
        <img src="assets/icon/main-{{i+1}}.svg" alt="" />
      </div>
    </div>
  </div>
</ion-content>
